<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About </title>
     <style>
	.about-area{
    padding-top: 5%;
}

/* Navigation Styles */
.navbars {
    padding: 5px;
  }
  
  .navigate {
    display: flex;
    justify-content: space-between;
    background-image: url("/banner_bg.png");
    background-size: cover;
    
    align-items: center;
  }
  
  .logo {
    padding: 5px;
    
    height: 100px;}

.logo-text{color:yellow;
  padding-left:5px;
}


  .web {
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
  }
  a{   text-decoration: none;}
  
  .web a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1% 20px;
  }
  
  .web a:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: black;
  }





.about-img{
    position:relative;
}
.about-img:before{
    right:10px;
    top: 30px;
    width: 100%;
    height: 100%;
}
.about-img img{
    width: 100%;
}
.about-text{
    padding-top: 10%;
}
.about-text h2{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.about-text p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
}
.about-text a{
    background: #b5a7f8;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    margin-top: 20px;
}

body {
   background-image: url(orange.jpeg);
   background-size: cover;
}
	 </style>

     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


    <div class="navbars mb-3">
        <div class="navigate">
            <div class="lt">
                <img class="logo" src="/kvcet logo.png">
                <p class="logo-text">Welcome <%= user ? user.email : 'Guest' %> </p>
            </div>
            
            <nav class="web">
                <a href="/admission">Admission</a>
                <a href="/register">Register</a>
                <a href="/">Home</a>
               
                <a href="/login">Login</a>
                
            </nav>
        </div>
    </div>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
							
							<img src="entrance clg.jpg"  width="800" height="500">
							
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                       <p>Karpaga Vinayaga Educational Group (2001) caters to various disciplines of education like Medicine, Dentistry, Engineering, Nursing, and Allied Health Sciences. Karpaga Vinayaga College of Engineering and Technology was established in the year 2001, Approved by AICTE, New Delhi, and Affiliated to Anna University, Chennai. KVEG campus away from the hustle and bustle of the city but in close proximity to the scene. The Campus hosts Dedicated and well-qualified faculty members, well-planned lecture halls, computer centers, libraries, laboratories, Auditorium, and above all the quality education are provided to cater to the needs of this competitive field.</p>
                       <p>The college is affiliated with Anna University, Chennai, which is one of the most reputed technical universities in India.</p>
					  
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html