<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/Register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>KVCET</h1>
            </div>
        </div>
        <div class="right">
            <h1><b> Registration </b></h1>
            <div class="inputs">
                <form id="form" autocomplete="off" method="post">
                    <div class="fi mt-1">
                        <input type="text" class="form-control mb-1" id="username" placeholder="Enter Name"
                            name="Name" />
                        <div class="name_error"></div>
                    </div>
                    <div class="fi mt-1">
                        <input type="text" class="form-control mb-1" id="phonenumber" placeholder="Enter Phone number"
                            name="Phonenumber" />
                        <div class="phonenumber_error"></div>
                    </div>
                    <div class="fi">
                        <input type="text" class="form-control mb-1" id="email" placeholder="Enter email"
                            name="Email" />
                        <div class="email_error"></div>
                    </div>
                    <div class="fi flex mt-1">
                        <input type="password" class="form-control mb-2" id="password" placeholder="Enter password"
                            name="Password" />
                        <button id="togglePassword" type="button" class="toggle-password-btn flex2"><i
                                class="fas fa-eye-slash"></i></button>
                        <div class="password_error"></div>
                    </div>
                    <br>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const form = document.getElementById('form');
        const nameError = document.querySelector('.name_error');
        const phonenumberError = document.querySelector('.phonenumber_error');
        const emailError = document.querySelector('.email_error');
        const passwordError = document.querySelector('.password_error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // get values
            const username = form.Name.value;
            const phonenumber = form.Phonenumber.value;
            const email = form.Email.value;
            const password = form.Password.value;

            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({ username, phonenumber, email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    nameError.textContent = data.errors.username;
                    phonenumberError.textContent = data.errors.phonenumber;
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
            } catch (err) {
                console.log(err);
            }
        });

        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');

        togglePasswordButton.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePasswordButton.innerHTML = '<i class="fas fa-eye"></i>';
            } else {
                passwordInput.type = 'password';
                togglePasswordButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
            }
        });
    </script>
</body>

</html>